/* ADJUSTMENTS */

* {
    box-sizing: border-box;
}


/* This is for font type used in the webpage */

@font-face {
    font-family: AlternateGothicExtraCondAFTBold;
    src: url(../fonts/alternate-gothic-excond-atf-bold.otf);
}
/* This is for navigation */
.nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-bottom: -80px;
    margin-left: 90px;
    margin-right: 100px;
}

.nav ul li {
    list-style: none;
    display: inline-block;
    padding-top: 15px;
}

.nav ul a {
    text-decoration: none;
    position: relative;
    color: rgb(20, 12, 8);
    margin: 2px;
    font-family: AlternateGothicExtraCondAFTBold;
}

.nav h1 {
    color: rgb(20, 12, 8);
    font-family: AlternateGothicExtraCondAFTBold;
}

/* This is for Heading Banner */

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.box {
    background-color: white;
    width: 100vw;
}

.inner-box {
    height: 500px;
    margin-bottom: 15px;
    background-size: cover;
}

.image1 {
    background-image: url(../images/atf-image.jpg);
    background-size: cover;
}

.box span {
    color: rgba(0, 196, 49, 0.61);
}

.box h2 {
    user-select: none;
    font-family: AlternateGothicExtraCondAFTBold;
    line-height: .8em;
    text-transform: uppercase;
    padding: 90px;
    font-size: 70px;
    color: rgb(20, 11, 7);
    opacity: 85%;
}

.box p {
    font-family: sans-serif;
    font-size:  12px;
    margin-top: -145px;
    margin-left: 90px;
    color: rgb(80, 43, 25);
}

.box a {
    font-family: sans-serif;
    font-weight: 700;
    text-decoration: none;
    background-color: rgb(39, 27, 21);
    color: white;
    padding: 15px 15px;
    margin-left: 90px;
    font-size: 15px;
}

/* This is for container that contains images */

.container2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.inner-box2 {
    height: 250px;
    background-size: cover;
}

.image2 {
    width: 500px;
    margin: 6px;
    background-image: url(../images/merchandise1.jpg);
}

.box2 p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-transform: uppercase;
    padding-top: 10px;
    margin-left: 55px;
    font-size: 30px;
}
.box2 a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding: 15px 15px;
    margin-left: 40px;
    font-size: 12px;
    text-decoration: none;
}

.image3 {
    width: 500px;
    margin: 6px;
    background-image: url(../images/merchandise2.jpg);
}

.box3 p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-transform: uppercase;
    padding-top: 10px;
    margin-left: 55px;
    font-size: 30px;
}
.box3 a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding: 15px 15px;
    margin-left: 40px;
    font-size: 12px;
    text-decoration: none;
}

/* This is for Merchandise Part */

.text {
    margin-top: 80px;
    margin-bottom: -30px;
    text-align: center;
    color: rgb(165, 121, 56);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.h2-text {
    font-family: AlternateGothicExtraCondAFTBold;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}

.hr1 {
    padding-top: -30px;
    height: 3px;
    border-width: 0px;
    margin-top: -20px;
    margin-left: 600px;
    margin-right: 600px;
    margin-bottom: 50px;
    background: rgb(165, 121, 56);
}

/* Images inside container */

.container3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px;
}

.image-box p {
    font-family: AlternateGothicExtraCondAFTBold;
    font-size: 20px;
    padding-left: 5px;
    margin-top: -5px;
}

.span1 {
    color: rgb(206, 152, 72);
}

.inner-box3 {
    margin-bottom: 15px;
    height: 245px;
    margin-bottom: 15px;
    background-size: cover;
}

/* 8 Images */

.image4 {
    margin: 5px;
    width: 245px;
    background-image: url(../images/product1.jpg);
}

.image5 {
    width: 245px;
    margin: 5px;
    background-image: url(../images/product2.jpg);
}

.image6 {
    margin: 5px;
    width: 245px;
    background-image: url(../images/product3.jpg);
}

.image7 {
    margin: 5px;
    width: 245px;
    background-image: url(../images/product4.jpg);
}

.image8 {
    margin: 5px;
    width: 245px;
    background-image: url(../images/product5.jpg);
}

.image9 {
    margin: 5px;
    width: 245px;
    background-image: url(../images/product6.jpg);
}

.image10 {
    margin: 5px;
    width: 245px;
    background-image: url(../images/product7.jpg);
}

.image11 {
    margin: 5px;
    width: 245px;
    background-image: url(../images/product8.jpg);
}

/* A container containing a Heading Banner including Merchandise Sale Part */

.container4 {
    align-items: center;
}

.box4 {
    width: 100%;
    height: 100%;
}

.inner-box4 {
    position: 50;
    padding: 50px;
}

.image12 {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    margin-left: 140px;
    margin-right: 140px;
}

.box4 p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    margin-bottom: -50px;
    color: rgb(192, 155, 99);
    text-align: center;
}

.box4 h2 {
    font-family: AlternateGothicExtraCondAFTBold;
    text-align: center;
    font-size: 50px;
    color: white;
    text-transform: uppercase;
}

.my-text {
    text-align: center;
}

.box4 a {
    font-family: sans-serif;
    font-weight: 700;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    color: rgb(161, 124, 69);
    padding: 15px 15px;
    width: 80px;
    font-size: 15px;
}

/* MERCHANDISE SALE */

.text2 {
    margin-top: 80px;
    margin-bottom: -30px;
    text-align: center;
    color: rgb(165, 121, 56);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.h2-text2 {
    font-family: AlternateGothicExtraCondAFTBold;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
}

.hr2 {
    padding-top: -30px;
    height: 3px;
    border-width: 0px;
    margin-top: -20px;
    margin-left: 600px;
    margin-right: 600px;
    margin-bottom: 50px;
    background: rgb(165, 121, 56);
}

/* MERCHANDISE SALE IMAGES-PROPERTY */

.container5 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px;
}

.image-box2 p {
    font-family: AlternateGothicExtraCondAFTBold;
    font-size: 20px;
    padding-left: 5px;
    margin-top: -5px;
}

.span2 {
    color: rgb(206, 152, 72);
}

.inner-box5 {
    margin-bottom: 15px;
    height: 245px;
    margin-bottom: 15px;
    background-size: cover;
}

.hr4 {
    opacity: 0;
    padding-top: -30px;
    height: 3px;
    border-width: 0px;
    margin-top: -20px;
    margin-left: 10000px;
    margin-right: 10000px;
    margin-bottom: 50px;
    background: rgb(165, 121, 56);
}

/* MERCHANDISE SALE IMAGES */

.image13 {
    margin: 5px;
    width: 245px;
    background-image: url(../images/product1.jpg);
}

.image14 {
    width: 245px;
    margin: 5px;
    background-image: url(../images/product2.jpg);
}

.image15 {
    margin: 5px;
    width: 245px;
    background-image: url(../images/product3.jpg);
}

.image16 {
    margin: 5px;
    width: 245px;
    background-image: url(../images/product4.jpg);
}

/* MERCHANDISE SALE SUB HEADING BANNERS */

.container6 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.inner-box6 {
    height: 250px;
    background-size: cover;
}

.image17 {
    width: 500px;
    margin: 6px;
    background-image: url(../images/merchandise3.jpg);
}

.box5 p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-transform: uppercase;
    padding-top: 35px;
    margin-left: 55px;
    font-size: 25px;
}
.box5 a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding: 15px 15px;
    margin-left: 40px;
    font-size: 12px;
    text-decoration: none;
}

.image18 {
    width: 500px;
    margin: 6px;
    background-image: url(../images/merchandise4.jpg);
}

.box6 p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-transform: uppercase;
    padding-top: 35px;
    margin-left: 55px;
    font-size: 25px;
}
.box6 a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding: 15px 15px;
    margin-left: 40px;
    font-size: 12px;
    text-decoration: none;
}

.image19 {
    width: 500px;
    margin: 6px;
    background-image: url(../images/merchandise5.jpg);
}

.box7 p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-transform: uppercase;
    padding-top: 35px;
    margin-left: 55px;
    font-size: 25px;
}
.box7 a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding: 15px 15px;
    margin-left: 40px;
    font-size: 12px;
    text-decoration: none;
}

.image20 {
    width: 500px;
    margin: 6px;
    background-image: url(../images/merchandise6.jpg);
}

.box8 p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    text-transform: uppercase;
    padding-top: 35px;
    margin-left: 55px;
    font-size: 25px;
}
.box8 a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    padding: 15px 15px;
    margin-left: 40px;
    font-size: 12px;
    text-decoration: none;
}

.hr4 {
    opacity: 0;
    padding-top: -30px;
    height: 3px;
    border-width: 0px;
    margin-top: -20px;
    margin-left: 10000px;
    margin-right: 10000px;
    margin-bottom: 50px;
    background: rgb(165, 121, 56);
}
/* RESERVATION FORM */

.text3 {
    opacity: 0;
    margin-top: -40px;
    margin-bottom: -30px;
    text-align: center;
    color: rgb(165, 121, 56);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}

.h2-text3 {
    font-family: AlternateGothicExtraCondAFTBold;
    font-size: 25px;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.hr5 {
    border-top: 3px solid rgb(165, 121, 56);
    margin-top: -15px;
    margin-left: 45%;
    margin-right: 45%;
    margin-bottom: 5%;
}

.hr3 {
    opacity: 0;
    border-top: 3px solid rgb(165, 121, 56);
    margin-left: 550px;
    margin-right: 550px;
}


/* RESERVATION FORM UI */

.form {
    display: flex;
    margin-top: 10px;
}

.inner-form {
    width: 100%;
    padding: 30px 25px;
    background-color: rgb(240, 240, 240);
}
/* RESERVATION FORM INPUTS STYLE */

.pnormal {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

textarea {
    border: none;
    resize: vertical;
}

select {
    border: none;
    background-color: rgb(233, 233, 233);
    padding: .4rem;
    width: 100%;
}

.inner-form label {
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

.dandn {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin-top: -5px;
}

.inner input{
    width: 460px;
}

.inner-form input{
    border: none;
    margin-bottom: 10px;
    padding: 10px;
}

/* HALF PART OF RESERVATION FORM */

.form2 {
    margin-left: 15px;
}

.inner-form1{
    width: 100%;
    padding: 35px 35px;
    background-color: rgb(240, 240, 240);
}

.inner-form1 p {
    font-family: AlternateGothicExtraCondAFTBold;
}

.inner-form1 label {
    display: block;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
}

.inner-form1 input {
    border: none;
    padding: 10px;
    font-size: 15px;
}

.inner-form1 p{
    font-size: 18px;
    font-family: tahoma;
    text-align: center;
}

.send{
    text-transform: uppercase;
    border: none;
    display: block;
    outline: none;
    cursor: pointer;
    background: transparent;
    color: white;
    font-weight: 700;
    padding: 10px 0;
    width: 425px;
    margin-top: 20px;
    background-color: rgb(69, 190, 69);
    font-size: 15px;
}

/* FOOTER AREA */

/* FIRST IMAGE  OF FOOTER */

.container23 {
    
    display: block;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.table1 {
    float: left;
    margin-right: 40px;
}

.box23 {
    background-color: white;
    width: 97.50vw;
}

.inner-box23 {
    padding: 50px 100px;
    height: 300px;
    background-size: cover;
}

.image23 {
    background-image: url(../images/footer-img.jpg);
    background-size: cover;
}

.table2 {
    margin-right: 40px;
    float: left;
}

.box23 thead {
    text-align: left;
}

.box23 caption {
    font-size: 25px;
    font-family: AlternateGothicExtraCondAFTBold;
}

.table2 th {
    font-family: AlternateGothicExtraCondAFTBold;
    font-size: 18px;
}

.table1 td, th {
    font-family: sans-serif;
    font-size:  15px;
    margin-top: -145px;
    color: rgb(255, 255, 255);
}

.contact {
    margin-right: 40px;
    float: left;
}

.contact span {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
    color: rgb(192, 154, 100);
}

.contact p {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 14px;
    color: white;
}

.contact input {
    border: none;
    padding: 5px;
    font-size: 13px;
}

.contact button {
    background-color: rgb(192, 154, 100);
    border: none;
    padding: 5px;
    font-size: 15px;
}

.contact label {
    outline: none;
    display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 15px;
}

.contact h2 {
    font-family: AlternateGothicExtraCondAFTBold;
    color: white;
    margin-top: 0;
    font-size: 27px;
}

.location {
    float: left;
}

.location span {
    font-family: AlternateGothicExtraCondAFTBold;
    font-size: 20px;
    color: rgb(192, 154, 100);
}

.location p {
    font-weight: bold;
    font-family: sans-serif;
    font-size: 16px;
    color: white;
}

.location h2 {
    font-family: AlternateGothicExtraCondAFTBold;
    color: white;
    margin-top: 0;
    font-size: 27px;
}
/* Navigation Footer */

.nav25 {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: -40px;

}

.nav25 ul li {
    color: rgb(255, 255, 255);
    align-items: center;
    list-style: none;
    display: inline-block;
    padding-top: 15px;
}

.nav25 ul a {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 2px;
    font-family: sans-serif;
}

.nav25 h1 {
    color: rgb(255, 255, 255);
    font-family: AlternateGothicExtraCondAFTBold;
}